body {
    background-color: rgb(255, 194, 237);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2em;
    width:30vw;
    text-decoration: none;
    text-align: center;
    width: 90%;
    top: 0%;
    bottom: auto;
    font-size: x-large;
    font-weight: bold;
    align-content: center;
    margin: auto;
}

button {
    background-color: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: .5em;
    width: 100px;
    height: 50px;
}

p {
    background-color: plum;
    color: azure;
}